<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout.html}"
      th:with="connecte=${connecte}">
<head>
    <meta charset="UTF-8">
    <title>Automobile</title>
</head>
<body>
<main>
    <section layout:fragment="content">
    <div>
        <div
                th:replace="~{filtre.html :: fragModifFiltre(marques=${marques},couleurs=${couleurs},localisations=${localisations}
      )}">
        </div>

        <label for="energie">Energies</label>
        <select name="energie" id="energie">
            <option value="" disabled selected>Choisissez le carburant</option>
            <option th:each="energie : ${energies}" th:value="${energie.getNom()}"
                    th:text="${energie.getTexte()}"></option>
        </select>

    </div>
        <div th:each="objet: ${listObjet}" th:text="${objet.getNom()  + objet.getDescription()}"></div>
    </section>
</main>
</body>
</html>