<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout.html}"
      th:with="connecte=${connecte}, types=${types}">
<head>
    <meta charset="UTF-8">
    <title>Electromenager</title>
</head>
<body>
<main>
    <section layout:fragment="content">
    <div
            th:replace="~{filtre.html :: fragModifFiltre(marques=${marques},couleurs=${couleurs},localisations=${localisations},idCategorie=5, idType='elec'
       )}">
    </div>
        <div th:each="objet: ${listObjet}" th:text="${objet.getNom()  + objet.getPrix()}"></div>

    </section>
</main>
</body>
</html>