.filtre{
    display: grid;
    grid-template-columns: 10rem repeat(7, 1fr) 10rem;
    grid-template-rows: repeat(1, 1fr);
    grid-template-areas:
            "a0 a1 a2 a3 a4 a5 a6 a7 a8";
    margin: auto;
    background-color:#534554 ;
}
.marque{
    grid-area: a1;
    text-align: center;
    font-family: 'Oswald', sans-serif;
    color: #846867;
    height: 2rem;
    margin: auto;
}

.localisation{
    grid-area: a2;
    text-align: center;
    font-family: 'Oswald', sans-serif;
    color: #846867;
    height: 2rem;
    margin: auto;
}
.couleur{
    grid-area: a3;
    text-align: center;
    font-family: 'Oswald', sans-serif;
    color: #846867;
    height: 2rem;
    margin: auto;
}
.on{
    margin: auto auto auto 2rem;
    grid-area: a6;
    font-family: 'Oswald', sans-serif;
    color: #e0ccca;
}
.off{

    grid-area: a6;
    font-family: 'Oswald', sans-serif;
    color: #e0ccca;
    margin: auto auto auto 7rem;
}
.prix{
    grid-area: top / b2 / b2 / b2;;
    text-align: center;
    font-family: 'Oswald', sans-serif;
    color: #e0ccca;
    height: 2rem;
}
.carburant{
    grid-area: a4;
    text-align: center;
    font-family: 'Oswald', sans-serif;
    color: #846867;
    height: 2rem;
    margin: auto;
}
.fromBox{
    grid-area: b1;
}
.fromLabel{
    grid-area: a1;
    color: #e0ccca;
}
.toLabel{
    grid-area: a3;
    color: #e0ccca;
}
.toBox{
    grid-area: b3;
}
.slider{
    position: relative;
    grid-area: c1 / c1 / c1 / c3 ;
}
.boutonFiltrer{
    width: 5rem;

    margin: auto auto auto 0 !important;
    grid-area: a7;
    font-family: 'Oswald', sans-serif;
}
.price-slider {
    width: 300px;
    margin: auto;
    text-align: center;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-template-areas:
            "top top top"
            "a1 a2 a3"
            "b1 b2 b3"
            "c1 c2 c3";
    height: 6em;
    grid-area: a5;
}

.slide {
    position: absolute;
    top: 0.5rem;
}
input[type=number] {
    border: 1px solid #ddd;
    text-align: center;
    -moz-appearance: textfield;
}
input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
}
input[type=number]:invalid,
input[type=number]:out-of-range {
    border: 2px solid #e60023;
}
input[type=range] {
    -webkit-appearance: none;
    width: 100%;
}
input[type=range]:focus {
    outline: none;
}
input[type=range]:focus::-webkit-slider-runnable-track {
    background: #1da1f2;
}
input[type=range]:focus::-ms-fill-lower {
    background: #1da1f2;
}
input[type=range]:focus::-ms-fill-upper {
    background: #1da1f2;
}
input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 5px;
    cursor: pointer;
    animate: 0.2s;
    background: #1da1f2;
    border-radius: 1px;
    box-shadow: none;
    border: 0;
}
input[type=range]::-webkit-slider-thumb {
    z-index: 2;
    position: relative;
    box-shadow: 0px 0px 0px #000;
    border: 1px solid #1da1f2;
    height: 18px;
    width: 18px;
    border-radius: 25px;
    background: #a1d0ff;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -7px;
}
input[type=range]::-moz-range-track {
    width: 100%;
    height: 5px;
    cursor: pointer;
    animate: 0.2s;
    background: #1da1f2;
    border-radius: 1px;
    box-shadow: none;
    border: 0;
}
input[type=range]::-moz-range-thumb {
    z-index: 2;
    position: relative;
    box-shadow: 0px 0px 0px #000;
    border: 1px solid #1da1f2;
    height: 18px;
    width: 18px;
    border-radius: 25px;
    background: #a1d0ff;
    cursor: pointer;
}
input[type=range]::-ms-track {
    width: 100%;
    height: 5px;
    cursor: pointer;
    animate: 0.2s;
    background: transparent;
    border-color: transparent;
    color: transparent;
}
input[type=range]::-ms-fill-lower,
input[type=range]::-ms-fill-upper {
    background: #1da1f2;
    border-radius: 1px;
    box-shadow: none;
    border: 0;
}
input[type=range]::-ms-thumb {
    z-index: 2;
    position: relative;
    box-shadow: 0px 0px 0px #000;
    border: 1px solid #1da1f2;
    height: 18px;
    width: 18px;
    border-radius: 25px;
    background: #a1d0ff;
    cursor: pointer;
}