.masterLogin h1 {
    font-size: 3rem;
    text-align: center;
    color: #352c3b;
    margin-top: 20px;

}

.loginForm {

    display: flex;
    align-items: center;
    flex-direction: column;

}

.cardProf {
    border: 1px cornflowerblue solid;
    width: 500px;
    margin-top: 20px;
    margin-left: 700px;
    padding-bottom: 20px;
    border-radius: 3px;
}

.connexion, .mdpOubli {
    width: 200px;
}

/*------------------------------------------------------------------------------*/
/* Partie login */
/*------------------------------------------------------------------------------*/
@import url("https://fonts.googleapis.com/css?family=Montserrat:400,700");

.masterLogin{
    height: 100%;
    font-size: 65.2%;
    box-sizing: border-box;
    font-family: Montserrat, sans-serif;
    -webkit-font-smoothing: antialiased;
    font-weight: 400;
    background: #e0ccca;
    color: #1d2129;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    perspective: 1500px;
    padding: 1rem;
}

.masterLogin h1{
    font-weight: 700;
    font-size: 3.5em;
    text-align: center;
}
.version{
    position:absolute;
    bottom: 1em;
    right: 2em;
    border-radius: 40px;
    background: #352c3b;
    color: #fff;
    font-size: 1em;
    font-weight: bold;
    padding: .8em 2em;
    letter-spacing: 1px;
    transition: transform 80ms ease-in;
}
.masterLogin form input {
    background: #eee;
    border: none;
    padding: 12px 15px;
    margin: 8px 0;
    width: 100%;
    font-size: 1.4em;
}
.masterLogin span{
    color: #333;
    font-size: 1.4em;
    display: inline-block;
    margin: 15px auto;
    font-weight: 100;
}
span.remember{
    float: left;
    &::before{
        content:"";
        display: inline-block;
        width: 1em;
        height: 1em;
        border: 2px solid #352c3b;
        vertical-align: top;
        margin-right: 4px;
    }
}
span.forget{
    float: right;
}
span.clearfix{
    clear: both;
    display: table;
}

span.loginwith{
    display: block;
    width: 100%;
    margin-top: 1em;
    white-space: nowrap;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items:center;
    &::before{
        content:"";
        display: inline-block;
        width: 42%;
        height:1px;
        background: #352c3b;
        vertical-align: middle;
        margin-right: 5%;
    }
    &::after{
        content:"";
        display: inline-block;
        width: 45%;
        height: 1px;
        background: #352c3b;
        vertical-align: middle;
        margin-left: 5%;
    }
}
span.copy{
    display: block;
    position: absolute;
    bottom: 0;
    font-size: 1em;
}

.masterLogin button {
    display: block;
    margin: 1em auto;
    border-radius: 40px;
    border: 1px solid #352c3b;
    background: #352c3b;
    color: #fff;
    font-size: 1.2em;
    font-weight: bold;
    padding: .8em 2em;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: transform 80ms ease-in;


}
button svg {
    vertical-align: middle;

}
button:hover {
    cursor:pointer;
}
button:active {
    transform: scale(.95);
}
button:focus {
    outline: none;
}



#containerLogin{
    width: 95%;
    max-width: 800px;
    height: 500px;
    position: relative;
    border-radius: 20px;
    box-shadow: 0 14px 28px -10px rgba(0, 0, 0, .1), 0 10px 10px -10px rgba(0, 0, 0, .02);
    transform-style: preserve-3d;
    border: 1px solid #352c3b;
    &>div{
        position: absolute;
        width: 50%;
        min-width: 350px;
        height: 100%;
        top:0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

    }
}

.contentLogin{
    width: 100%;
    padding: 2em 4em;
    text-align: center;
}
.contentLogin p{
    font-size: 1.4em;
}

.login{
    left:0;

    border-radius: 20px 0 0 20px;
    background: #c49f9a;
}
.login button{
    border-radius: 0px;
    width: 100%;
}

.login svg{
    margin: 1em;
    stroke: #352c3b;
}
.register{
    right: 0;
    z-index: 1;
    border-radius: 0 20px 20px 0;
    background: #c49f9a;

}
.register button{
    border-radius: 0px;
    width: 100%;
}
.register svg{
    margin: 1em;
    stroke: #352c3b;
}
.pageLogin{
    right:0;
    color: #fff;
    border-radius:  0 20px 20px 0;
    transform-origin: left center;
    transition: animation 1s linear;
}
.pageLogin button{
    border-color: #fff;
    background: transparent;
}
.pageLogin p {
    margin: 2em auto;
}
.front{
    background:linear-gradient(-45deg, #352c3b 0%, #e0ccca 100%) no-repeat 0 0 / 200%;
    z-index: 3;

}
.back{
    background:linear-gradient(135deg, #e0ccca 0%, #352c3b 100%) no-repeat 0 0 / 200%;
    z-index: 2;

    .contentLogin{
        transform: rotateY(180deg)
    }
}

.active .front{
    animation: rot-front .6s ease-in-out normal forwards;
}
.active .back {
    animation: rot-back .6s ease-in-out normal forwards;
}

.close .front {
    animation: close-rot-front .6s ease-in-out normal forwards;
}
.close .back{
    animation: close-rot-back .6s ease-in-out normal forwards;
}

@keyframes rot-front{
    from{
        transform: translateZ(2px) rotateY(0deg);
    }
    to{
        transform: translateZ(1px) rotateY(-180deg);
    }
}
@keyframes close-rot-front{
    from{
        transform: translateZ(1px) rotateY(-180deg);
    }
    to{
        transform: translateZ(2px) rotateY(0deg);
    }
}
@keyframes rot-back{
    from{
        transform: translateZ(1px) rotateY(0deg);
    }
    to{
        transform: translateZ(2px) rotateY(-180deg);
    }
}
@keyframes close-rot-back{
    from{
        transform: translateZ(2px) rotateY(-180deg);
    }
    to{
        transform: translateZ(1px) rotateY(0deg);
    }
}



.active .register .contentLogin{
    animation: show .7s ease-in-out normal forwards
}
.close .register .contentLogin{
    animation: hide .7s ease-in-out normal forwards
}
.active .login .contentLogin{
    animation: hide .7s ease-in-out normal forwards
}
.close .login .contentLogin{
    animation: show .7s ease-in-out normal forwards
}

@keyframes show{
    from{
        opacity: 0;
        transform: scale(0.8)
    }
    to{
        opacity: .99;
        transform: scale(.99)
    }
}
@keyframes hide{
    from{
        opacity: .99;
        transform: scale(0.99)
    }
    to{
        opacity: 0;
        transform: scale(0.8)
    }
}
/*------------------------------------------------------------------------------*/
/* Fin partie login */
/*------------------------------------------------------------------------------*/

