
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');

.menuP {
    text-align: center;
    background-color: #0a2345;

}
.menuP nav{
    display: grid;
    grid-template-rows: 50% 50%;
    grid-template-columns: 25% 50% 25%;
    height: 15rem;
}

.rechercher{
    display: inline-flex;
}
.menu li {

    display: inline-flex;
    padding: 1rem;
    margin: 0.3rem;
    cursor: pointer;

}
.menu a {
    color: #fff1ba;
    font-size: 1.5rem;
    font-family: 'Playfair Display', serif;
    text-decoration: none;
}
body{
    margin: 0;
}
.menu{
    overflow: hidden;
    white-space: nowrap;
    display: inline-flex;
    grid-area: 2/2/2/2;
    padding: 0;
    margin: 0 auto;
}
.search{
    text-align:  center;
    display: grid;
    grid-area:1/2/1/2;
    margin: auto auto 0 auto;
}
.searchBar{
    width: 30rem;
    font-family: 'Playfair Display', serif;
    font-size: large;
    grid-area: 1/2/1/2;
    margin: 0.5rem;

}
.searchCategorie{
    font-family: 'Playfair Display', serif;
    font-size: large;
    margin: 0.5rem;
}
.logo{
    width:10rem;
    margin: 1rem;
    text-align:  left;
}
.bouttonSearch{
}
