
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300&family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;1,300;1,400;1,600;1,900&family=Oswald:wght@200;300;400;500;600;700&display=swap');
.menuP {
    text-align: center;
    background-color: #352c3b;

}
.menuP nav{
    display: grid;
    grid-template-rows: 50% 50%;
    grid-template-columns: 25% 50% 25%;
    height: 15rem;
}

.rechercher{
    display: inline-flex;
}
.menu li {

    display: inline-flex;
    padding: 1rem;
    margin: 0.3rem;
    cursor: pointer;

}
.menu a {
    color: #e0ccca;
    font-size: 1.5rem;
    font-family: 'Oswald', sans-serif;
    text-decoration: none;
}
body{
    margin: 0;
}
.menu{
    overflow: hidden;
    white-space: nowrap;
    display: inline-flex;
    grid-area: 2/2/2/2;
    padding: 0;
    margin: 0 auto;
}
.search{
    text-align:  center;
    display: grid;
    grid-area:1/2/1/2;
    margin: auto auto 0 auto;
}
.searchBar{
    width: 50rem;
    font-family: 'Oswald', sans-serif;
    font-size: large;
    grid-area: 1/2/1/2;
    margin: 0.5rem;

}
.searchCategorie{
    font-family: 'Oswald', sans-serif;
    font-size: large;
    margin: 0.5rem;
    width: 20rem;
}
.logo{
    width:10rem;
    margin: 1rem;
    text-align:  left;
}
.btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited {
    background-color: #c49f9a !important;
    color: black;
    font-family: 'Oswald', sans-serif;
    height: 2.5rem;
    border:#c49f9a ;
    margin-top: 0.5rem;

}

footer {
    background-color: #352c3b;
    color: #e0ccca;
    font-size: 1rem;
    font-family: 'Oswald', sans-serif;
    text-align: center;
    position: inherit;
    left: 0;
    bottom: 0;
    width:100% ;
    flex-shrink: 0;
}

#link {
    list-style-type: none;
    border: 0.2rem solid;
    border-radius: 0.6rem;
    display: inline-block;
    background-color: #F8E8EE;
    padding: 0 10rem;
    margin: 0;


}

.link li {

    padding: 0 7rem;
    margin: 0 0 0 0;
    display: inline-block;


}

footer a {
    color: #e0ccca;
    text-decoration: none;
    display: inline-block;
    list-style-type: none;
    margin-left: 0;
    padding-left: 0;
    font-weight: bold;
}

.fa-brands {
    padding: 1.5rem;
}