h1 {
    font-size: 3rem;
    text-align: center;
    color: #846867;
    margin-top: 20px;
    font-family: 'Oswald', sans-serif;

}

.profilForm, .supprimerProf {

    display: flex;
    align-items: center;
    flex-direction: column;

}

.cardProf {
    border: 1px #846867 solid;
    width: 500px;
    margin: 1rem auto 1rem auto;
    padding-bottom: 20px;
    border-radius: 3px;

}

.modifier, .annuler {
    width: 200px;
}

.supprimer{
    margin-top: 5px;
    width: 404px;
}

.credit{
    margin-top: 20px;
    margin-right: 140px;
}
