h1 {
    font-size: 3rem;
    text-align: center;
    color: cornflowerblue;
    margin-top: 20px;

}

legend {
    font-size: 1.5rem;
    text-align: center;

}

.subForm {

    display: flex;
    align-items: center;
    flex-direction: column;

}

.cardProf {
    border: 1px cornflowerblue solid;
    width: 500px;
    margin-top: 20px;
    margin-left: 700px;
    padding-bottom: 20px;
    border-radius: 3px;


}

.form-submit-button{
    margin-top: 5px;
    width: 300px;
}