h1 {
    font-size: 3rem;
    text-align: center;
    color: #846867;
    margin-top: 20px;
    font-family: 'Oswald', sans-serif;

}

legend {
    font-size: 1.5rem;
    text-align: center;

}


.profilForm, .supprimerProf {

    display: flex;
    align-items: center;
    flex-direction: column;

}

.cardProf {
    border: 1px cornflowerblue solid;
    width: 500px;
    margin-top: 20px;
    margin-left: 700px;
    padding-bottom: 20px;
    border-radius: 3px;



}

.form-submit-button{
    margin-top: 5px;
    width: 300px;

}

.modifier, .annuler {
    width: 200px;
}

.supprimer{
    margin-top: 5px;
    width: 404px;
}

.credit{
    margin-top: 20px;
    margin-right: 140px;

}