<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout.html}"
      th:with="connecte=${connecte}">
<!--on appel le layout en lui passant en param connecte qui aura comme nom connecte-->
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>

<body>
<header>

</header>
<section layout:fragment="content">
    <h3> Vous avez une idée? Nous avons le produit!</h3>

    <div class="cardAuto">

        <a href="auto">
            <img src="images/voiture.jpg" width="150rem">
        </a>
        <div>
            <a href="auto">Automobile</a>
        </div>
    </div>

    <div class="cardVetement">
        <a href="vetements">

            <img src="images/vetements.jpg" width="150rem">
        </a>
        <div>
            <a href="vetements">Vêtements</a>
        </div>
    </div>
    <div class="cardElectroM">
        <a href="electroMenager">
            <img src="images/electromenage.jpg" width="150rem">
        </a>
        <div>
            <a href="electromenage">Eléctroménager</a>
        </div>

    </div>

    <div class="cardConsole">
        <a href="consoles">
            <img src="images/console.jpeg" width="150rem">
        </a>
        <div>
            <a href="consoles">Consoles</a>
        </div>
    </div>

    <div class="cardJeux">
        <a href="jeuxSociete">
            <img src="images/jeuxSociete.webp" width="150rem">
        </a>
        <div>
            <a href="jeuxSociete">Consoles</a>
        </div>
    </div>
    <div class="cardProdBeaute">
        <a href="produitBeaute">
            <img src="images/produitBeaute.jpeg" width="150rem">
        </a>
        <div>
            <a href="produitBeaute">Produits de beautés</a>
        </div>
    </div>

</section>
</body>
</html>
