<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Filtre</title>
</head>
<body>

<div th:fragment="fragModifFiltre (marques,couleurs,localisations,retraits)">

    <label for="marques">Marques</label>
    <select name="marques" id="marques">

        <option value="" disabled selected>Choisissez la marque</option>
        <option th:each="marque : ${marques}" th:value="${marque.getNom()}"
                th:text="${marque.getTexte()}"></option>
    </select>

    <label for="prix">Prix</label>

    <label for="localisation">Localisation</label>
    <select name="localisation" id="localisation">
        <option value="" disabled selected>Choisissez la localisation</option>
        <option th:each="localisation : ${localisations}" th:value="${localisation.getNom()}"
                th:text="${localisation.getTexte()}"></option>
    </select>

    <label for="couleur">Couleur</label>
    <select name="couleur" id="couleur">
        <option value="" disabled selected>Choisissez la couleur</option>
        <option th:each="couleur : ${couleurs}" th:value="${couleur.getNom()}"
                th:text="${couleur.getTexte()}"></option>
    </select>


    <label for="retrait">Modalité de retrait</label>
    <select name="retrait" id="retrait">
        <option value="" disabled selected>Choisissez la méthode de retrait</option>
        <option th:each="retrait : ${retraits}" th:value="${retrait.getNom()}"
                th:text="${retrait.getTexte()}"></option>
    </select>
</div>

</body>
</html>