<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <script src="/Js/logout.js" sec:authorize="isAuthenticated()"></script>
    <meta charset="UTF-8">
    <title>layoute</title>
</head>
<body>
<header>
    <section class=menuP>

        <a href="accueil"> <img src="images/EnchereLogo.jpg" alt="logo"width="50rem"></a>
        <nav>
            <ul class="menu">
                <li><a href="accueil">Accueil</a></li>

                <div sec:authorize="!isAuthenticated()">
                    <li><a href="subscribe">S'inscrire</a></li>
                </div>

                <div sec:authorize="!isAuthenticated()">
                    <li><a href="login">Se connecter</a></li>
                </div>

                <div sec:authorize="isAuthenticated()">
                    <li><a href="deconnexion">Deconnexion</a></li>
                </div>

                <div sec:authorize="isAuthenticated()">
                    <li><a href="profil">Profil</a></li>
                </div>

                <div sec:authorize="isAuthenticated()">
                    <li><a href="vendre_article">Vendre</a></li>
                </div>

                <div sec:authorize="isAuthenticated()">
                    <li><a href="mes_encheres">Mes Enchères et Ventes</a></li>
                </div>
            </ul>
        </nav>
    </section>
</header>
</body>
<section layout:fragment="content"></section>
</html>