<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <title>layoute</title>
</head>
<body>
<header>
    <section class=menuP>
        <nav>
            <ul class="menu">
                <li><a href="accueil">Accueil</a></li>

                <li><a href="subscribe">S'inscrire</a></li>

                <th:block th:if="${!connecte}">
                    <li><a href="login">Se connecter</a></li>
                </th:block>

                <th:block th:if="${connecte}">
                    <li><a href="deconnexion">Deconnexion</a></li>
                </th:block>

                <li><a href="profil">Profil</a></li>

                <li><a href="vendre_article">Vendre</a></li>

            </ul>
        </nav>
    </section>
</header>
</body>
<section layout:fragment="content"></section>
</html>