<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <title>layoute</title>
</head>
<body>
<header>
    <section class=menuP>
        <nav>
            <ul class="menu">
                <li><a href="accueil.html">Accueil</a></li>

                <li><a href="subscribe.html">S'inscrire</a></li>

                <li><a href="login.html">Se connecter
                </a></li>
                <li><a href="profil.html">Profil</a></li>

                <li><a href="vendre_article.html">Vendre</a></li>
            </ul>
        </nav>
    </section>
</header>
</body>
<section layout:fragment="content"></section>
</html>