<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout.html}"
      th:with="connecte=${connecte}, types=${types}">
<head>
    <meta charset="UTF-8">
    <title>Mes enchères</title>
    <link href="/Css/mesEncheres.css" rel="stylesheet">
    <script src="/Js/mesEncheres.js"></script>

</head>
<body>
<main>
    <section layout:fragment="content">
<!--        Debut CodePen -->
        <div class="wrapper">
            <div class="title">
                CSS Tabs Filtering
            </div>
            <div class="tabs_wrap">
                <ul>
                    <li data-tabs="mesEncheres">Mes encheres</li>
                    <li data-tabs="jeParticipe" class="active">Je Participe</li>
                </ul>
            </div>
            <div class="container">
                <div class="enchereJeParticipe nowrap">
                    <div>
                        je suis achteur
                    </div>
                    <div>
                        je suis gagnant
                    </div>
                </div>
                <div class="mesEncheres nowrap">
                    <div>
                        a venir
                    </div>
                    <div>
                        passés
                    </div>
                    <div>
                        en cours
                    </div>
                </div>
            </div>
        </div>

<!--       Fin CodePen -->
        <p>Mes enchères en cours</p>
        <!--enchere que j'ai créer-->
        <div th:each="objet: ${enCours}" th:text="${objet.getNom() + '   ' +  objet.getPrix()} "></div>


        <p>Mes enchères terminée</p>
        <!--enchere que j'ai créer-->
        <div th:each="objet: ${termine}" th:text="${objet.getNom() + '   ' +  objet.getPrix()} "></div>


        <p>Mes enchères futur</p>
        <!--enchere que j'ai créer-->
        <div th:each="objet: ${futur}" th:text="${objet.getNom() + '   ' +  objet.getPrix()} "></div>

        <p>Mes enchères auquelles je participe, en cours</p>
        <div th:each="enchere: ${enCoursParticipe}" th:text="${enchere.getTypeNom() + '   ' +  enchere.getObjetNom()+'   ' + enchere.getPrix()} "></div>

        <p>Mes enchères remportées</p>
        <div th:each="enchere: ${win}" th:text="${enchere.getTypeNom() + '   ' +  enchere.getObjetNom()+'   ' + enchere.getPrix()} "></div>

    </section>
</main>

</body>
</html>